<nav{{#if popout}} class="popout"{{/if}}>
  {{#if popout}}
    {{{include "menuX"}}}
  {{/if}}
  <ul>
    <li><a href="index.html"{{#if pagename.is.index}} class="selected"{{/if}}>Home</a></li>
    <li><a href="events.html"{{#if pagename.is.events}} class="selected"{{/if}}>Events</a></li>
    <li><a href="our-team.html"{{#if pagename.is.our-team}} class="selected"{{/if}}>Our Team</a></li>
    <li><a href="contact-us.html"{{#if pagename.is.contact-us}} class="selected"{{/if}}>Contact Us</a></li>
    <li><a href="funders-and-friends.html"{{#if pagename.is.funders-and-friends}} class="selected"{{/if}}>Funders &amp; Friends</a></li>
  </ul>
</nav>