{{#wrap "wrapper"}}
  <h1>Contact Us</h1>

  <form>
    <div id="form_generalError">
      <p class="error"></p>
      <p class="success"></p>
    </div>
    <div id="formField_name">
      <input type="text" name="name" class="formField">
      <label>Name</label>
      <p class="error"></p>
    </div>
    <div id="formField_email">
      <input type="text" name="email" class="formField">
      <label>Email *</label>
      <p class="error"></p>
    </div>
    <div id="formField_whereHear">
      <input type="text" name="whereHear" class="formField">
      <label>Where did you hear about us?</label>
      <p class="error"></p>
    </div>
    <div id="formField_comment">
      <textarea name="comment" class="formField"></textarea>
      <label>How can we help? *</label>
      <p class="error"></p>
    </div>
    <div>
      <button type="button">Send</button>
    </div>
  </form>
{{/wrap}}