{{#wrap "wrapper"}}
  <h1>Contact Us</h1>

  <form>
    <div>
      <input type="text" name="name">
      <label>Name</label>
    </div>
    <div>
      <input type="text" name="email">
      <label>Email *</label>
    </div>
    <div>
      <input type="text" name="where-hear">
      <label>Where did you hear about us?</label>
    </div>
    <div>
      <textarea name="message"></textarea>
      <label>How can we help? *</label>
    </div>
    <div>
      <button type="button">Send</button>
    </div>
  </form>
{{/wrap}}