{{#wrap "wrapper"}}

  <section>
    <img src="img/home/ourteam.jpeg" alt="">
    <h2>Our Team</h2>
    <p>We are built upon black and brown women based in Brighton who advocate, lobby and provide support, advice and aim to improve knowledge and acceptance of SEN (Special educational needs), help embrace racial identity and are passionate about equality and inclusion. </p>
    <details>
      <p>We feel strongly about building trusting relationships in the local community and beyond. As well as this we also provide free signposting to support groups and services if needed.</p>
      <summary data-open="- Show Less" data-close="+ Show More"></summary>
    </details>
  </section>

  <section>
    <img src="img/home/ourhistory.jpeg" alt="">
    <h2>Our History</h2>
    <p>Through our lived experiences and training we are looking to raise awareness of special educational needs and hidden disabilities, ASC (Autism Spectrum Condition), ADHD (Attention Deficit Hyper activity Disorder) and well being within our various communities, improve early intervention and therefore more positive for outcomes for our young people and aim to inspire change. We respect different cultural needs and campaign for relevant services, resources and facilities by encouraging people from various backgrounds to communicate, share their perspectives and come together. We also aim to do this by listening to the experiences of individuals and groups who are unfairly discriminated against by structures within society.</p>
  </section>

  <section>
    <img src="img/home/ourmission.jpeg" alt="">
    <h2>Our Mission</h2>
    <ul>
      <li>To provide a seat at the table</li>
      <li>To give a voice or safe space to the hidden and unheard</li>
      <li>To educate and learn from our diverse communities</li>
      <li>To empower parents and their children by supporting ways to forge developing their identity and or understanding of their SEN</li>
      <li>To encourage schools /organisations to be truly inclusive and anti-racist</li>
      <li>To break down cultural barriers, myths, stigma and taboo's around SEN</li>
      <li>Embrace and promote positive black identity/heritage</li>
    </ul>
  </section>

  <section>
    <img src="img/home/asatt.jpeg" alt="">
    <h2>ASATT - A Seat At The Table</h2>
    <p>Our vision as a community is to change outcomes for our children and support them to thrive not just survive education.
    ASATT is an essential group for children of colour or dual heritage and their families who require someone to listen, support, advise and advocate where necessary. Every child counts and every child must have an equal opportunity to thrive in life .
    Together and with our lived experiences we have a strong understanding of the difficulties that arise around special educational needs, race, trauma and struggles within systems and aim to create opportunities to aid recovery, support and space to be seen and heard.</p>
    <p>A Seat At The Table - Community, Creativity, Connection</p>
    <p>Founder Liz Soper driven by her and her child's own lived experiences navigating education and SEN systems, started to advocate for other children and families in 2017.  She is a Brighton and Hove Autism champion and has a long history in many aspects of childcare with a special interest in early years and primary education. She has gained training in counselling, and with the PDA society and P.A.S.T (Positive Autism Support Training). She is passionate about learning from actually autistic/neurodivergent advocates and academic professionals in relevant fields. She has organised talks, taken part as a speaker and has collaborated with  many other organisers and support groups including: Venessa Bobb, founder of A2nd voice, Lambeth Autism Group and member of the APPG on Autism, and Dr Muna Abdi from Decolonising Education.  Liz has consulted for Can Can Campaigns on their NEU proposal on the impact of poverty, class structural racism on education, and for Brighton and Hove's Parent Carer Council around neuro-developmental pathways and BME communities.</p>
  </section>

{{/wrap}}