{{#wrap "wrapper"}}
  <h1>Upcoming Events</h1>

  <p>We facilitate a range of activities and events focussed on the needs of families and communities- shaped and led by our families and communities.</p>
  <p>We believe in creating safe spaces for learning, listening and making connections to support healing and understanding.</p>
  <ul>
    <li>Womens Cirlcles</li>
    <li>Restorative yoga</li>
    <li>Creative workshops for children/families</li>
    <li>Empowerment and wellbeing workshops</li>
    <li>SEND webinars, workshops & coffee mornings</li>
  </ul>

  
  <h1>Past Events</h1>

  <img src="img/events/AutismPerspective.jpeg" alt="Autism Perspective Lived Experiences poster">
{{/wrap}}