{{#wrap "wrapper"}}
  <h1>Funders &amp Friends</h1>

  <img src="img/funders/halo.png" alt="Hair Code for Workplaces">
  <img src="img/funders/bhcc.jpeg" alt="Brighton and Hove City Council">
  <img src="img/funders/lotto.jpeg" alt="Lotto Community Fund">

{{/wrap}}