/* delcare variables */
:root {
  --sidenav_width: 320px;
  --h2-colour: rgb(27,27,27);
  --text-colour: rgb(94,94,94);
  --border-colour: rgb(244,244,244);
  --highlight-colour: #C25623;
}

/* Basic styles */
body {
  font-family: 'Quicksand', sans-serif;
  color: var(--text-colour);
}
h1,h2,h3 {
  letter-spacing: 1.5px;
  text-transform: uppercase; 
}
h1 {
  font-size: .95em;
  letter-spacing: .3em;
  text-align: center;
  margin: 3em;
}
h2 {
  color: var(--h2-colour);
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}
p, li {
  line-height: 1.5em;
  font-size: 1.1em;
}
form div {
  position: relative;
  width: 80%;
  margin: 1em auto;
}
form input,
form textarea {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 3em;
  background: var(--border-colour);
  border: 1px solid var(--border-colour);
  padding: 22px 1em 10px;
}
form textarea {
  height: 10em;
}
form input:focus,
form textarea:focus {
  outline-style: none;
  border-color: var(--highlight-colour);
}
form label {
  position: absolute;
  top: 16px; left: 17px;
  pointer-events: none;
  transition: all .2s ease-in-out;
}
form input:focus + label,
form input.hascontent + label,
form textarea:focus + label,
form textarea.hascontent + label {
  font-size: .7em;
  top: 4px;
  color: var(--highlight-colour)
}


/* Page structure */
header {
  position: fixed;
  width: var(--sidenav_width);
  height: 100%;
  border: solid var(--border-colour);
  border-width: 0 2px 0 0;
}

main {
  margin-left: var(--sidenav_width);
  padding: 2em;
}

main > img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

/* Header and Nav element styles */
header img {
  display: block;
  width: 224px;
  margin: 5em auto;
}
nav {
  letter-spacing: 1.5px;
}
nav ul {
  list-style: none;
  margin: 0 4em;
  padding:0;
}
nav ul li {
  margin-bottom: 1em;
}
nav ul a {
  text-decoration: none;
  color: var(--text-colour);
}
nav ul a:hover {
  color: var(--highlight-colour);
}
nav ul a.selected {
  font-weight:700;
  color: var(--highlight-colour);
}

/* Standard section block styling */
main > section {
  float: left;
  width: 45%;
  margin-bottom: 1em;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}
main > section:nth-of-type(odd) {
  clear: left;
  margin-left: 3%;
  margin-right: 2%;
}
main > section:nth-of-type(even) {
  margin-left: 2%;
  margin-right: 3%;
}

/* Styling for narrower homepage section blocks */
main.index > section {
  margin-top: 3em;
  width: 30%;
  max-width: 365px;
}
main.index > section:nth-of-type(odd) {
  clear: left;
  --section-width: min(30%, 365px);
  margin-left: calc(50% - var(--section-width) - 1em);
  margin-right: 1em;
}
main.index > section:nth-of-type(even) {
  margin-left: 1em;
  --section-width: min(30%, 365px);
  margin-right: calc(50% - var(--section-width) - 1em);
}
main.index > section img {
  width: 100%;
  transition: all .4s ease-in-out;
  transform-origin: center bottom;
}
main.index > section img:hover {
  transform: scale(1.1, 1.1);
}
main.index > section p,
main.index > section ul {
  margin: .5em;
}
main.index > section ul {
  text-align: left;
}
main.index > section details ul {
  position: relative;
  top: -.5em
}


/* Styling for expanding summary/details sections */
details {
  position: relative;
  padding-bottom: 1em;
}
details summary {
  position: absolute;
  width: 100%;
  bottom: 0;
  list-style-image: none;
  color: var(--highlight-colour);
  outline: none;
  cursor: pointer;
  overflow: hidden;
}
summary::-webkit-details-marker {
  background: none;
  color: transparent;
}
details summary::before,
details summary::after {
  display: inline-block;
  position: absolute;
  left:0; right:0;
  opacity: 0;
  transition: all .4s ease-in-out;
}
details summary::before {
  content: attr(data-close);
  top: -2em;
}
details summary::after {
  content: attr(data-open);
  top: 2em;
}
details:not([open]) summary::before {
  content: attr(data-close);
  opacity: 1;
  top: 0;
}
details[open] summary::after {
  content: attr(data-open);
  opacity: 1;
  top: 0;
}